{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew bundle --file=/dev/stdin <<EOF
brew "nvim"
brew "ripgrep"

brew "lua-language-server"
brew "stylua"

brew "ltex-ls-plus"
brew "ltex-ls"

brew "elixir-ls"
brew "elixir"
brew "asdf"

brew "basedpyright"

brew "prettierd"
brew "tailwindcss-language-server"

brew "bash-language-server"
brew "shellharden"

brew "air"
EOF
{{ end -}}
