{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
cd /tmp
curl -L https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz | tar xJf -
bash ble-nightly/ble.sh --install ~/.local/share
{{ end -}}
