{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

defaults write -g NSWindowShouldDragOnGesture -bool true # CMD and hold to drag

#make the dock appear instantly
defaults write com.apple.dock autohide-time-modifier -float 0  
defaults write com.apple.dock autohide-delay -int 0          

# date for screenshots
defaults write com.apple.screencapture "include-date" -bool "true"
#Save to downloads
defaults write com.apple.screencapture "location" -string "~/Downloads" 

# Finder
defaults write com.apple.finder "AppleShowAllFiles" -bool "true"
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf"
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool "false"

# Mouse accel (after restart)
defaults write NSGlobalDomain com.apple.mouse.linear -bool "true"

# Spaces
defaults write com.apple.dock "mru-spaces" -bool "false"
defaults write com.apple.spaces "spans-displays" -bool "true" 

# No quarantine messages
defaults write com.apple.LaunchServices "LSQuarantine" -bool "false"

# Trackpad force required
defaults write com.apple.AppleMultitouchTrackpad "FirstClickThreshold" -int "0"


killall SystemUIServer
killall Finder
killall Dock

{{ end -}}
