{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

mkdir -p ~/.config/tmux/plugins/catppuccin
cd ~/.config/tmux/plugins/catppuccin
git -C "tmux" pull || git clone https://github.com/catppuccin/tmux.git tmux

{{ end -}}
