{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "syncthing"
brew "koekeishiya/formulae/yabai"
brew "mosh"
brew "starship"
brew "koekeishiya/formulae/skhd"
brew "tailscale"
brew "bitwarden-cli"
cask "eloston-chromium"
cask "signal"
cask "ghostty"
cask "mtmr"
cask "tidal"
cask "skim"
cask "bitwarden"
cask "karabiner-elements"
cask "tg-pro"
EOF
{{ end -}}
