{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew tap ungive/media-control

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "syncthing"
brew "koekeishiya/formulae/yabai"
brew "mosh"
brew "starship"
brew "koekeishiya/formulae/skhd"
brew "tailscale"
brew "bitwarden-cli"
brew "media-control"
brew "nushell"
brew "carapace"
brew "tmux"
brew "zoxide"
brew "fzf"
brew "direnv"
brew "lazygit"
brew "difftastic"
cask "eloston-chromium"
cask "signal"
cask "ghostty"
cask "mtmr"
cask "tidal"
cask "skim"
cask "bitwarden"
cask "karabiner-elements"
cask "tg-pro"
cask "betterdisplay"
cask "bettermouse"
cask "container"
EOF
{{ end -}}
